* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #202a36;
}

nav {
    height: 100vh;
    background-color: #202a36;
    width: 60px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    transition: all 0.2s;
    top: 0;
    left: 0;
    div.nav-links {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        div.nav-item {
            display: flex;
            text-align: left;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            color: white;
            font-family: "Suse";
            font-size: 18px;
            cursor: pointer;
            padding-left: 5px;
            gap: 5px;
            border-radius: 5px;
            &:hover {
                background-color: #2c3e50;
            }
            div.icon {
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                i {
                    font-style: normal;
                    position: absolute;
                    font-size: 20px;
                    color: white;
                    border-radius: 5px;
                    top: -5px;
                    right: -4px;
                    font-weight: bold;
                }
            }
            span {
                flex: 1 1 auto;
                white-space: nowrap;
                display: none;
                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
}

div.page {
    flex: 1 1 auto;
    height: 100vh;
    background-color: ghostwhite;
    background-image: url(../img/dashboardBg.svg);
    background-size: cover;
    display: none;
    overflow-x: hidden;
    margin-left: 60px;
    @media screen and (max-width: 520px) {
        padding: 30px 0px;
    }
}

div#expert-matching{
    div.fetch-username{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 10px; */
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        border: 2px solid #202a36;
        label{
            display: none;
        }
        input{
            border: none;
            outline: none;
            font-size: 1.5rem;
            font-family: 'Suse';
            background: transparent;
            padding: 10px;
        }
        button{
            background-color: #202a36;
            color: white;
            border: none;
            height: full;
            font-size: 1.5rem;
            padding: 12px;
            &:hover{
                background-color: #2c3e50;
                cursor: pointer;
            }
        }
    }
}

div#addExpert {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/dashboardBg.svg);
    form {
        display: flex;
        z-index: 2;
        /* width: 100%; */
        min-height: 500px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px #202a36;
        border: 2px solid #202a36;
        div#form-section-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            div#header {
                align-self: flex-start;
                span {
                    font-family: "Suse", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #202a36;
                }
                h1 {
                    font-family: "Titillium Web";
                    font-size: 40px;
                    margin: 0px;
                }
            }
            div.form-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                display: none;
                /* width: 100%; */
                @media screen and (max-width: 520px) {
                    gap: 20px;
                    align-items: center;
                }
                h1 {
                    font-family: "Titillium Web", sans-serif;
                    font-size: 25px;
                    color: #202a36;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    align-self: flex-start;
                    @media screen and (max-width: 768px) {
                        font-size: 22px;
                    }
                    @media screen and (max-width: 520px) {
                        font-size: 18px;
                    }
                }
                div.input {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        margin-left: 20px;
                    }
                    @media screen and (max-width: 520px) {
                        flex-direction: column;
                        gap: 5px;
                        align-items: flex-start;
                        width: 90%;
                        margin-left: 0px;
                    }
                    label {
                        font-family: "Suse", sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        color: #202a36;
                        width: 200px;
                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                            width: 180px;
                        }
                    }
                    input {
                        padding: 8px 15px;
                        border-radius: 3px;
                        border: none;
                        outline: none;
                        font-size: larger;
                        font-family: "Suse";
                        box-shadow: 5px 5px #202a36;
                        border: 2px solid #202a36;
                        @media screen and (max-width: 768px) {
                            padding: 5px 10px;
                        }
                        &:focus {
                            background-color: aliceblue;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 16px;
                        }
                        @media screen and (max-width: 520px) {
                            width: 100%;
                            padding: 8px 15px;
                        }
                    }
                    span {
                        font-family: "Suse", sans-serif;
                        font-size: 16px;
                        color: #202a36;
                        padding: 5px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 130px;
                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                            max-width: 100px;
                        }
                        @media screen and (max-width: 520px) {
                            max-width: 230px;
                        }
                    }
                    div.fileInputContainer {
                        border: 2px solid #202a36;
                        border-radius: 5px;
                        padding: 5px 10px;
                        position: relative;
                        overflow: hidden;
                        font-family: "Suse", sans-serif;
                        &:hover {
                            background-color: #202a36;
                            color: white;
                        }
                        &:has(.error) {
                            border: 2px solid red;
                        }
                        @media screen and (max-width: 520px) {
                            width: 100%;
                            text-align: center;
                        }
                        p {
                            margin: 0;
                            white-space: nowrap;
                            @media screen and (max-width: 768px) {
                                font-size: 13px;
                            }
                            @media screen and (max-width: 520px) {
                                font-size: 15px;
                            }
                        }
                        input {
                            transform: scale(5);
                            opacity: 0;
                            position: absolute;
                        }
                    }
                }
            }
        }
        div#form-ill {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #202a36;
            color: white;
            font-size: 18px;
            font-family: "Suse";
            cursor: pointer;
            margin-top: 20px;
            width: fit-content;
            transition: all 0.3s;
            &:hover {
                background-color: #2c3e50;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.error {
    border: 2px solid red !important;
}

.active-nav-item{
    background-color: #2c3e50;
}

.active {
    display: flex !important;
    animation: slide 0.5s;
}

.expanded {
    width: 235px !important;
}

a {
    text-decoration: none; /* Removes the underline */
    color: white; /* Sets the text color to white */
}

a span {
    color: inherit; /* Ensures the span inherits the color from the parent anchor */
}


/* Center the text in the table headers */
#viewExpert table, 
#viewCandidates table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

#viewExpert th, 
#viewCandidates th, 
#viewExpert td, 
#viewCandidates td {
    padding: 12px 15px;
    text-align: center; /* Center-aligns all content inside table headers and data cells */
}

#viewExpert th, 
#viewCandidates th {
    background-color: #f4f4f4;
    font-weight: bold;
    
}

#viewExpert td, 
#viewCandidates td {
    border: 1px solid #ddd;
}

#viewExpert table img,
#viewCandidates table img {
    max-width: 100px;
    border-radius: 5px;
}

/* Style the anchor tags */
#viewExpert a, 
#viewCandidates a {
    color: black;  /* Set the text color to black */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    display: inline-flex;  /* Align icon and text horizontally */
    align-items: center;
}

/* Optional: Change the color on hover */
#viewExpert a:hover, 
#viewCandidates a:hover {
    color: #444;  /* Slightly lighter black */
}
/* Remove background image for both #viewExpert and #viewCandidates */
#viewExpert,
#viewCandidates {
    background-image: none; /* Removes the background image */
}


/* Style for the heading above the table */
.table-heading {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    color: #202a36;
    margin-bottom: 20px;
    border-bottom: 2px solid #202a36; /* Add a bottom border */
    padding-bottom: 10px; /* Space between text and border */
}

/* Center the text in the table headers and ensure text wraps within two lines */
#viewExpert th, 
#viewCandidates th {
    padding: 12px 15px;
    text-align: center; /* Center-aligns all content inside table headers */
    background-color: transparent; /* Make the background transparent */
    border: 1px solid #202a36; /* Add a border around table headers */
    max-width: 150px; /* Set a maximum width for the table headers */
    word-wrap: break-word; /* Allows text to wrap within the column */
    white-space: normal; /* Ensures text wraps and does not stay on one line */
    overflow-wrap: break-word; /* Breaks long words if necessary */
}
