* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #202a36;
}

nav {
    height: 100vh;
    background-color: #202a36;
    width: 60px;
    padding: 10px;
    position: fixed;
    z-index: 10000;
    transition: all 0.2s;
    top: 0;
    left: 0;
    div.nav-links {
        margin-top: 20px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        div.nav-item {
            display: flex;
            text-align: left;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            color: white;
            font-family: "Suse";
            font-size: 18px;
            cursor: pointer;
            padding-left: 5px;
            gap: 5px;
            border-radius: 5px;
            &:hover {
                background-color: #2c3e50;
            }
            div.icon {
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                i {
                    font-style: normal;
                    position: absolute;
                    font-size: 20px;
                    color: white;
                    border-radius: 5px;
                    top: -5px;
                    right: -4px;
                    font-weight: bold;
                }
            }
            span {
                flex: 1 1 auto;
                white-space: nowrap;
                display: none;
                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
    }
}

div.page {
    flex: 1 1 auto;
    height: 100vh;
    background-color: ghostwhite;
    background-image: url(../img/dashboardBg.svg);
    background-size: cover;
    display: none;
    overflow-x: hidden;
    margin-left: 60px;
    @media screen and (max-width: 520px) {
        padding: 30px 0px;
    }
}


div#expert-match, div#jobs{
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow-y: auto;

    form {
        width: fit-content;
        display: flex;
        justify-content: space-evenly;
        z-index: 2;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px #202a36;
        border: 2px solid #202a36;
        div.header {
            display: flex;
            flex-direction: column;
            line-height: 19px;
            gap: 0px;
            /* gap: -5px; */
            p {
                font-family: "Titillium Web";
                font-size: 40px;
                margin: 0px;
                font-weight: bold;
            }
            span {
                color: rgb(57, 57, 57);
                margin: 0px;
                font-family: "Playwrite NL";
                font-size: 25px;
                font-weight: 700;
            }
        }
        div.form-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 500px;
            gap: 10px;
            div.input {
                display: flex;
                align-items: center;
                label {
                    font-family: "Suse", sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    color: #202a36;
                    width: 200px;
                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                        width: 180px;
                    }
                }
                input {
                    padding: 8px 15px;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    font-size: larger;
                    font-family: "Suse";
                    box-shadow: 5px 5px #202a36;
                    border: 2px solid #202a36;
                    @media screen and (max-width: 768px) {
                        padding: 5px 10px;
                    }
                    &:focus {
                        background-color: aliceblue;
                    }
                }
                span {
                    font-family: "Suse", sans-serif;
                    font-size: 16px;
                    color: #202a36;
                    padding: 5px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 130px;
                }
                div.fileInputContainer {
                    border: 2px solid #202a36;
                    border-radius: 5px;
                    padding: 5px 10px;
                    position: relative;
                    overflow: hidden;
                    font-family: "Suse", sans-serif;
                    &:hover {
                        background-color: #202a36;
                        color: white;
                    }
                    &:has(.error) {
                        border: 2px solid red;
                    }
                    p {
                        margin: 0;
                        white-space: nowrap;
                    }
                    input {
                        transform: scale(5);
                        opacity: 0;
                        position: absolute;
                    }
                }
            }
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: #202a36;
                color: white;
                font-size: 18px;
                font-family: "Suse";
                cursor: pointer;
                margin-top: 20px;
                width: fit-content;
                transition: all 0.3s;
                &:hover {
                    background-color: #2c3e50;
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    div.card-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    h2 {
        font-family: "Titillium Web";
        font-size: 30px;
        color: #202a36;
        margin: 0px;
        margin-top: 30px;
        border: 2px solid #202a36;
        border-radius: 10px;
        width: 100%;
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
        background: linear-gradient(135deg, #f9f9f9, #ffffff);
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    thead {
        background: linear-gradient(135deg, #202a36, #9ba0a4);
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2em;
        font-family: "Suse";
    }

    th,
    td {
        padding: 20px;
        text-align: left; /* Ensure all columns are left-aligned */
    }

    th {
        font-weight: 600;
        border-bottom: 2px solid #ddd;
    }

    tbody tr {
        transition:
            background-color 0.3s,
            transform 0.2s;
    }

    tbody tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.02);
    }

    tbody tr:hover {
        background-color: #d1d1d1;
        transform: scale(1.01);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }

    td {
        border-bottom: 1px solid #eee;
        font-size: 1em;
        font-family: "Suse";
        color: #333;
    }

    td:first-child {
        font-weight: bold;
        color: #2c3e50;
    }

    /* Removed the right-alignment for the last column */
    caption {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 10px;
        color: #2c3e50;
    }

    @media screen and (max-width: 900px) {
        table {
            font-size: 0.85em;
        }

        th,
        td {
            padding: 15px;
        }
    }
}

div#addExpert {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/dashboardBg.svg);
    form {
        display: flex;
        z-index: 2;
        /* width: 100%; */
        min-height: 500px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px #202a36;
        border: 2px solid #202a36;
        div#form-section-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            div#header {
                align-self: flex-start;
                span {
                    font-family: "Suse", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #202a36;
                }
                h1 {
                    font-family: "Titillium Web";
                    font-size: 40px;
                    margin: 0px;
                }
            }
            div.form-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                display: none;
                /* width: 100%; */
                @media screen and (max-width: 520px) {
                    gap: 20px;
                    align-items: center;
                }
                h1 {
                    font-family: "Titillium Web", sans-serif;
                    font-size: 25px;
                    color: #202a36;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    align-self: flex-start;
                    @media screen and (max-width: 768px) {
                        font-size: 22px;
                    }
                    @media screen and (max-width: 520px) {
                        font-size: 18px;
                    }
                }
                div.input {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        margin-left: 20px;
                    }
                    @media screen and (max-width: 520px) {
                        flex-direction: column;
                        gap: 5px;
                        align-items: flex-start;
                        width: 90%;
                        margin-left: 0px;
                    }
                    label {
                        font-family: "Suse", sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        color: #202a36;
                        width: 200px;
                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                            width: 180px;
                        }
                    }
                    input {
                        padding: 8px 15px;
                        border-radius: 3px;
                        border: none;
                        outline: none;
                        font-size: larger;
                        font-family: "Suse";
                        box-shadow: 5px 5px #202a36;
                        border: 2px solid #202a36;
                        @media screen and (max-width: 768px) {
                            padding: 5px 10px;
                        }
                        &:focus {
                            background-color: aliceblue;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 16px;
                        }
                        @media screen and (max-width: 520px) {
                            width: 100%;
                            padding: 8px 15px;
                        }
                    }
                    span {
                        font-family: "Suse", sans-serif;
                        font-size: 16px;
                        color: #202a36;
                        padding: 5px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 130px;
                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                            max-width: 100px;
                        }
                        @media screen and (max-width: 520px) {
                            max-width: 230px;
                        }
                    }
                    div.fileInputContainer {
                        border: 2px solid #202a36;
                        border-radius: 5px;
                        padding: 5px 10px;
                        position: relative;
                        overflow: hidden;
                        font-family: "Suse", sans-serif;
                        &:hover {
                            background-color: #202a36;
                            color: white;
                        }
                        &:has(.error) {
                            border: 2px solid red;
                        }
                        @media screen and (max-width: 520px) {
                            width: 100%;
                            text-align: center;
                        }
                        p {
                            margin: 0;
                            white-space: nowrap;
                            @media screen and (max-width: 768px) {
                                font-size: 13px;
                            }
                            @media screen and (max-width: 520px) {
                                font-size: 15px;
                            }
                        }
                        input {
                            transform: scale(5);
                            opacity: 0;
                            position: absolute;
                        }
                    }
                }
            }
        }
        div#form-ill {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #202a36;
            color: white;
            font-size: 18px;
            font-family: "Suse";
            cursor: pointer;
            margin-top: 20px;
            width: fit-content;
            transition: all 0.3s;
            &:hover {
                background-color: #2c3e50;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.95);
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.error {
    border: 2px solid red !important;
}

.active-nav-item {
    background-color: #2c3e50;
}

.active {
    display: flex !important;
    animation: slide 0.5s;
}

.card {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    /* max-height: 200px; */
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #202a36;
    span.title {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px 15px;
        background-color: #202a36;
        color: white;
        font-family: "Poppins";
        font-weight: 500;
        /* font-size: 1.2rem; */
        border-radius: 0px 5px 0px;
    }
    div.card-icon {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.1);
        img {
            width: 100%;
            height: 100%;
        }
    }
    div.card-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        div.info-text {
            overflow: auto;
        }
        span.info-name {
            white-space: nowrap;
            font-family: "Suse";
            font-size: 1.3rem;
            font-weight: 600;
        }
        span.info-value {
            white-space: nowrap;
            font-family: "Titillium Web";
            font-size: 1.1rem;
        }
    }
}

.expanded {
    width: 235px !important;
}

.expert-delete {
    a{
        position: absolute;
        bottom: 10px;
        right: 12px;
        padding: 13px;
        border-radius: 50%;
        background-color: #202a36;
        transition: all 0.3s;
        i{
            color: white;
            font-size: 20px;
        }
        &:hover{
            background-color: orangered;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
        }
    }
}

a {
    text-decoration: none; /* Removes the underline */
    color: white; /* Sets the text color to white */
}

a span {
    color: inherit; /* Ensures the span inherits the color from the parent anchor */
}

/* Center the text in the table headers */
#viewExpert table,
#viewCandidates table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}

#viewExpert th,
#viewCandidates th,
#viewExpert td,
#viewCandidates td {
    padding: 12px 15px;
    text-align: center; /* Center-aligns all content inside table headers and data cells */
}

#viewExpert th,
#viewCandidates th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#viewExpert td,
#viewCandidates td {
    border: 1px solid #ddd;
}

#viewExpert table img,
#viewCandidates table img {
    max-width: 100px;
    border-radius: 5px;
}

/* Style the anchor tags */
#viewExpert a,
#viewCandidates a {
    color: black; /* Set the text color to black */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    display: inline-flex; /* Align icon and text horizontally */
    align-items: center;
}

/* Optional: Change the color on hover */
#viewExpert a:hover,
#viewCandidates a:hover {
    color: #444; /* Slightly lighter black */
}
/* Remove background image for both #viewExpert and #viewCandidates */
#viewExpert,
#viewCandidates {
    background-image: none; /* Removes the background image */
}

/* Style for the heading above the table */
.table-heading {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    color: #202a36;
    margin-bottom: 20px;
    border-bottom: 2px solid #202a36; /* Add a bottom border */
    padding-bottom: 10px; /* Space between text and border */
}

/* Center the text in the table headers and ensure text wraps within two lines */
#viewExpert th,
#viewCandidates th {
    padding: 12px 15px;
    text-align: center; /* Center-aligns all content inside table headers */
    background-color: transparent; /* Make the background transparent */
    border: 1px solid #202a36; /* Add a border around table headers */
    max-width: 150px; /* Set a maximum width for the table headers */
    word-wrap: break-word; /* Allows text to wrap within the column */
    white-space: normal; /* Ensures text wraps and does not stay on one line */
    overflow-wrap: break-word; /* Breaks long words if necessary */
}
