<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="static/css/adminLogin.css" rel="stylesheet"/>
</head>
<body class="min-h-screen flex items-center justify-center">

  <!-- Container for Login Form and Image -->
  <div class="bg-white shadow-lg rounded-lg flex overflow-hidden w-full max-w-4xl mx-auto">

    <!-- Left Side - Image -->
    <div class="form-image">
        <img src="static/img/loginsidepic2.jpg" class="login-image" alt="Form Image"> <!-- Replaced with uploaded image -->
    </div>
    
    <!-- Right Side - Login Form -->
    <div class="form-content w-full md:w-1/2 p-8">
      <div class="text-center mb-6">
        <img src="static/img/loginicon.png" alt="User Icon" class="w-16 h-16 mx-auto mb-4">
        <h1 class="text-2xl font-bold text-gray-800 admin-text">Admin Login</h1>
      </div>

      <!-- Admin Login Form -->
      <form action="/login" method="POST">
        <div class="mb-4 relative">
          <input type="email" id="admin_email" name="admin_email"
          class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Email Address">
          <img src="static/img/usericon.jpg" alt="User Icon" class="absolute left-2 top-2 w-6 h-6">
        </div>

        <div class="mb-4 relative">
          <input type="password" id="password" name="password" 
          class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Password">
          <img src="https://img.icons8.com/ios-glyphs/30/000000/lock-2.png" alt="Password Icon" class="absolute left-2 top-2 w-6 h-6">
        </div>

        <div class="flex items-center justify-between mb-4">
          <a href="#" class="text-sm text-indigo-600 hover:underline">Forgot Password?</a>
        </div>
        <div class="flex items-center justify-center">
          <button type="submit" class="bg-gradient-to-r from-purple-500 to-purple-700 text-white font-semibold py-2 px-6 rounded-md hover:from-purple-600 hover:to-purple-800 focus:ring-2 focus:ring-purple-400 focus:ring-offset-2">Login</button>
        </div>
      </form>    
    </div>
  </div>

</body>
</html>
