<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=SUSE:100,200,300,regular,500,600,700,800" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900"
        rel="stylesheet" />
    <link rel="stylesheet" href="static/css/dashboard.css">
    <script src="https://kit.fontawesome.com/ec53c9ed31.js" crossorigin="anonymous"></script>
    <title>ExpertSelect</title>
</head>

<body>
    <nav>
        <!-- <div class="logo">
            <h4>ExpertSelect</h4>
        </div> -->

        <div class="nav-links">
            <div class="nav-item" data-target="expert-match">
                <div class="icon">
                    <img src="static/img/menu.png" alt="">
                </div>
                <span class="nav-item-title">Expert Matching</span>

            </div>
            <div class="nav-item" data-target="addExpert">
                <div class="icon">
                    <img src="static/img/administrator.png" alt="">
                    <i>+</i>
                </div>
                <span class="nav-item-title">Add Expert</span>
            </div>
            <div class="nav-item" data-target="viewExpert">
                <div class="icon">
                    <img src="static/img/administrator.png" alt="">
                </div>
                <span class="nav-item-title">View Experts</span>
            </div>
            <div class="nav-item" data-target="viewCandidates">
                <div class="icon">
                    <img src="static/img/employee.png" alt="">
                </div>
                <span class="nav-item-title">View Candidates</span>
            </div>
            <div class="nav-item">
                <div class="icon">
                    <img src="static/img/logout.png" alt="">
                </div>
                <a href="/logout">
                    <span class="nav-item-title">Logout</span>
                </a>
            </div>
        </div>
    </nav>
    <div id="expert-match" class="page active">
        <form action="/fetch" method="POST" enctype="multipart/form-data">
            <h1>Candidate-Expert profile matching</h1>
            <div style="display: flex;">
                <div>
                    <label for="username">Candidate's Username:</label>
                    <input type="text" id="username" name="username" required autofocus>
                </div>
            </div>
            <label for="jd">Job Description:</label>
            <input type="file" name="jd" id="jd" required>
            <button type="submit" id="match">Submit</button>
        </form>
        {% if experts_scores %}
        <h2>Matching Experts</h2>
        <table  cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>Expert Username</th>
                    <th>Relevance Score</th>
                    <th>Job Description Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through experts_scores and display each expert's info -->
                {% for expert in experts_scores %}
                <tr>
                    <td>{{ expert[0] }}</td>
                    <td>{{ expert[1] }}</td>
                    <td>{{ expert[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <div id="addExpert" class="page">
        {% include 'add_expert.html' %}
    </div>
    <div id="viewExpert" class="page">
        {% include 'view_experts.html' %}
    </div>
    <div id="viewCandidates" class="page">
        {% include 'view_candidate.html' %}
    </div>

    <script src="static/js/dashboard.js"></script>
    <script>
        function showFileName(inputElement, displayElementId) {
            // Get the selected file name from the input element
            const fileName = inputElement.files[0]?.name || 'No file chosen';
            // Display the file name in the specified span element
            document.getElementById(displayElementId).textContent = fileName;
        }
    </script>
</body>

</html>