<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=SUSE:100,200,300,regular,500,600,700,800" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900"
        rel="stylesheet" />
    <link rel="stylesheet" href="static/css/dashboard.css">
    <script src="https://kit.fontawesome.com/ec53c9ed31.js" crossorigin="anonymous"></script>
    <title>ExpertSelect</title>
</head>

<body>
    <nav>
        <!-- <div class="logo">
            <h4>ExpertSelect</h4>
        </div> -->
        <div class="nav-links">
            <div class="nav-item" data-target="dashboard">
                <div class="icon">
                    <img src="static/img/menu.png" alt="">
                </div>
                <span class="nav-item-title">Dashboard</span>
            </div>
            <div class="nav-item" data-target="addExpert">
                <div class="icon">
                    <img src="static/img/administrator.png" alt="">
                    <i>+</i>
                </div>
                <span class="nav-item-title">Add Expert</span>
            </div>
            <div class="nav-item" data-target="viewExpert">
                <div class="icon">
                    <img src="static/img/administrator.png" alt="">
                </div>
                <span class="nav-item-title">View Experts</span>
            </div>
            <div class="nav-item" data-target="viewCandidates">
                <div class="icon">
                    <img src="static/img/employee.png" alt="">
                </div>
                <span class="nav-item-title">View Candidates</span>
            </div>
            <div class="nav-item">
                <div class="icon">
                    <img src="static/img/logout.png" alt="">
                </div>
                <a href="/logout">
                    <span class="nav-item-title">Logout</span>
                </a>   
            </div>
        </div>
    </nav>
    <div id="dashboard" class="page active">
        <h1>Dashboard</h1>
    </div>
    <div id="addExpert" class="page active">
        {% include 'add_expert.html' %}
        <form action="" id="expert-registration-form">
            <div id="form-section-container">
                <div id="header">
                    <span>Fill up the form to</span>
                    <h1>Register New Expert</h1>
                </div>
                <div class="form-section active">
                    <h1>Personal Information: </h1>
                    <div class="input">
                        <label for="name">Your Name: </label>
                        <input type="text" name="name" id="name" required autofocus>
                    </div>
                    <div class="input">
                        <label for="username">Your username: </label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="input">
                        <label for="email">Your email: </label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="input">
                        <label for="phone">Your phone no.: </label>
                        <input type="text" name="phone" id="phone" required>
                    </div>
                </div>
                <div class="form-section">
                <h1>Files</h1>
                <div class="input">
                    <label for="photo">Upload your picture: </label>
                    <div class="fileInputContainer">
                        <p>Upload from memory</p>
                        <input type="file" name="photo" accept="image/jpg, image/jpeg, image/png" id="photo"
                            onchange="showFileName(this, 'photo-file-name')" required>
                    </div>
                    <span id="photo-file-name">No file chosen</span>
                </div>
                <div class="input">
                    <label for="resume">Upload your resume: </label>
                    <div class="fileInputContainer">
                        <p>Upload from memory</p>
                        <input type="file" accept="application/pdf" name="resume" id="resume"
                            onchange="showFileName(this, 'resume-file-name')" required>
                    </div>
                    <span id="resume-file-name">No file chosen</span>
                </div>
                <div class="input">
                    <label for="cv">Upload your CV: </label>
                    <div class="fileInputContainer">
                        <p>Upload from memory</p>
                        <input type="file" accept="application/pdf" name="cv" id="cv"
                            onchange="showFileName(this, 'cv-file-name')" required>
                    </div>
                    <span id="cv-file-name">No file chosen</span>
                </div>
            </div>
            <div class="form-section">
                <h1>Links</h1>
                <div class="input">
                    <label for="googleScholarLink">Google Scholar Link:</label>
                    <input type="url" name="googleScholarLink" id="googleScholarLink" placeholder="https://example.com"
                        required>
                </div>
                <div class="input">
                    <label for="githubLink">Github Profile Link:</label>
                    <input type="url" name="githubLink" id="githubLink" placeholder="https://example.com" required>
                </div>
            </div>
            <button type="button" id="form-section-changer">Next</button>
            </div>

            <div id="form-ill">
                <img src="../static/img/expertForm.svg" alt="">
            </div>
            <!-- <button>Register</button> -->
        </form>
    <div id="viewExpert" class="page">

        {% if experts %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Google Scholar</th>
                    <th>GitHub</th>
                    <th>Photo</th>
                    <th>Resume</th>
                    <th>CV</th>
                </tr>
            </thead>
            <tbody>
                {% for expert in experts %}
                <tr>
                    <td>{{ expert.name }}</td>
                    <td>{{ expert.username }}</td>
                    <td>{{ expert.email }}</td>
                    <td>{{ expert.phone }}</td>
                    <td>
                        {% if expert.google_scholar_link %}
                        <a href="{{ expert.google_scholar_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                            View</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if expert.github_link %}
                        <a href="{{ expert.github_link }}" target="_blank"> <i class="fa-regular fa-eye"></i> View</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if expert.photo %}
                        <img src="data:image/png;base64,{{ expert.photo | b64encode }}" alt="Photo" width="100">
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if expert.resume %}
                        <a href="data:application/pdf;base64,{{ expert.resume | b64encode }}" download="resume.pdf"><i
                                class="fa-solid fa-file-arrow-down"></i>Download</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if expert.cv %}
                        <a href="data:application/pdf;base64,{{ expert.cv | b64encode }}" download="cv.pdf"><i
                                class="fa-solid fa-file-arrow-down"></i>Download</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No experts registered.</p>
        {% endif %}

    </div>
    <div id="viewCandidates" class="page">
        {% if candidates %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Google Scholar</th>
                    <th>GitHub</th>
                    <th>Photo</th>
                    <th>Resume</th>
                    <th>CV</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.username }}</td>
                    <td>{{ candidate.email }}</td>
                    <td>{{ candidate.phone }}</td>
                    <td>
                        {% if candidate.google_scholar_link %}
                        <a href="{{ candidate.google_scholar_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                            View</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if candidate.github_link %}
                        <a href="{{ candidate.github_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                            View</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if candidate.photo %}
                        <img src="data:image/png;base64,{{ candidate.photo | b64encode }}" alt="Photo" width="100">
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if candidate.resume %}
                        <a href="data:application/pdf;base64,{{ candidate.resume | b64encode }}"
                            download="resume.pdf"><i class="fa-solid fa-file-arrow-down"></i> Download</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if candidate.cv %}
                        <a href="data:application/pdf;base64,{{ candidate.cv | b64encode }}" download="cv.pdf"><i
                                class="fa-solid fa-file-arrow-down"></i> Download</a>
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No candidates registered.</p>
        {% endif %}
    </div>


    <script src="static/js/dashboard.js"></script>
    <script>
        function showFileName(inputElement, displayElementId) {
            // Get the selected file name from the input element
            const fileName = inputElement.files[0]?.name || 'No file chosen';
            // Display the file name in the specified span element
            document.getElementById(displayElementId).textContent = fileName;
        }
    </script>
</body>

</html>