{% if experts %}
<!-- <h2 class="table-heading">Experts Information</h2> -->
<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100vw; height: 100vh; overflow: auto; gap: 20px;padding: 30px;">
    {% for expert in experts %}
    <div class="card">
        <span class="title">Expert</span>
        <div class="card-icon">
            <img src="data:image/png;base64,{{ expert.photo | b64encode }}" alt="Photo" width="100">
        </div>
        <div class="card-info">
            <div>
                <span class="info-name">Name:&nbsp;&nbsp;</span>
                <span class="info-value">{{ expert.name }}</span>
            </div>
            <div>
                <span class="info-name">Username:&nbsp;&nbsp;</span>
                <span class="info-value">{{ expert.username }}</span>
            </div>
            <div>
                <span class="info-name">Email:&nbsp;&nbsp;</span>
                <span class="info-value">{{ expert.email }}</span>
            </div>
            <div>
                <span class="info-name">Phone:&nbsp;&nbsp;</span>
                <span class="info-value">{{ expert.phone }}</span>
            </div>
            <div>
                <span class="info-name">Google Scholar:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if expert.google_scholar_link %}
                    <a href="{{ expert.google_scholar_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                        View</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">GitHub:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if expert.github_link %}
                    <a href="{{ expert.github_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                        View</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">Resume:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if expert.resume %}
                    <a href="data:application/pdf;base64,{{ expert.resume | b64encode }}" download="resume.pdf"><i
                            class="fa-solid fa-file-arrow-down"></i>Download</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">CV:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if candidate.cv %}
                    <a href="data:application/pdf;base64,{{ candidate.cv | b64encode }}" download="cv.pdf"><i
                            class="fa-solid fa-file-arrow-down"></i> Download</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div class="expert-delete">
                    <a href="/delete_expert/{{expert.id}}" type="button"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No experts registered.</p>
{% endif %}