{% if candidates %}
<!-- <h2 class="table-heading">Candidates Information</h2> -->
<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100vw; height: 100vh; overflow: auto; gap: 20px;padding: 30px;">

    {% for candidate in candidates %}
    <div class="card">
        <span class="title">Candidate</span>
        <div class="card-icon">
            <img src="data:image/png;base64,{{ candidate.photo | b64encode }}" alt="Photo" width="100">
        </div>
        <div class="card-info">
            <div>
                <span class="info-name">Name:&nbsp;&nbsp;</span>
                <span class="info-value">{{ candidate.name }}</span>
            </div>
            <div>
                <span class="info-name">Username:&nbsp;&nbsp;</span>
                <span class="info-value">{{ candidate.username }}</span>
            </div>
            <div>
                <span class="info-name">Email:&nbsp;&nbsp;</span>
                <span class="info-value">{{ candidate.email }}</span>
            </div>
            <div>
                <span class="info-name">Phone:&nbsp;&nbsp;</span>
                <span class="info-value">{{ candidate.phone }}</span>
            </div>
            <div>
                <span class="info-name">Google Scholar:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if candidate.google_scholar_link %}
                    <a href="{{ candidate.google_scholar_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                        View</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">GitHub:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if candidate.github_link %}
                    <a href="{{ candidate.github_link }}" target="_blank"> <i class="fa-regular fa-eye"></i>
                        View</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">Resume:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if candidate.resume %}
                    <a href="data:application/pdf;base64,{{ candidate.resume | b64encode }}" download="resume.pdf"><i
                            class="fa-solid fa-file-arrow-down"></i> Download</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div>
                <span class="info-name">CV:&nbsp;&nbsp;</span>
                <span class="info-value">
                    {% if candidate.cv %}
                    <a href="data:application/pdf;base64,{{ candidate.cv | b64encode }}" download="cv.pdf"><i
                            class="fa-solid fa-file-arrow-down"></i> Download</a>
                    {% else %}
                    N/A
                    {% endif %}
                </span>
            </div>
            <div class="expert-delete">
                <a href="/delete_candidate/{{candidate.id}}" type="button"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No candidates registered.</p>
{% endif %}